/* div{
    display: inline-block;
    text-align: center;
}
img{
    display: block;
} */

.pokemon{
    display: inline-block;
    text-align: center;
    background-color: red;
}
.pokemon img{
    display: block;
}