#container{
    background-color: #003049;
    width:90%;
    height:500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;

    flex-direction: column;
    justify-content:space-around;
    /* justify content e spatiul dintre iteme pe main-axis */
    
    align-items:flex-end;
    /* align-items e unde sa le alinieze fata de "flex" */
    
    flex-wrap: wrap;
    /* prin wrap ii spun sa le insireze  */

    /* align-content functioneaza doar daca flex-wrap e activ !! logic */
    align-content:space-around;
    /* alignt-content e */

}

#container div{
    width:200px;
    height: 200px;
    text-align: center;
}